@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(145deg, #0f0c29, #302b63); /*degradado de esquima superior izquierda hacia esquina inferior derecha*/
    background-attachment: fixed; /* fondo fijo */
    background-size: cover;
    cursor: default;
    font-family: "Space Grotesk", sans-serif;
    color: aliceblue;
    font-size: 1rem;

}
header{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0%;
    
}

.left-icons{ 
    display: flex;
    height: 60px;
}
div .left-icons-img {
    width: 60px;
}
.slogan{
    display: flex;
    align-items: center;
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
    color:hsl(50, 45%, 49%);
}

/* .div-menu{
    display: flex;
    gap: 0.5rem;
} */

#menu, #menu-check{
    display: none;
}
nav.center-menu { 
    /* flex: 1; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;

}
.center-menu ul{
    display: flex;
    /* flex: 1; */
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;

}
li {
    padding: 0 1rem;
}
li > a{
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    font-size: 1.2em;
    text-decoration: none;
}

.center-menu a:hover{   /*efectos del menu de navegacion */
    color: hsl(50, 45%, 49%);  /*color al posicionar el mouse*/
    text-decoration: underline;
    transition: 0.4s; /*tiempo de transicion para los efectos*/ 
    cursor: pointer;
    flex-wrap: nowrap;
}


.social{       /* estilos de los iconos de github y linkedin*/
    display: flex;

    color: white;
    font-size: 1.5em;
}
.social:hover{    /* efectos para los iconos sociales*/
    /*  transform: scale(1.2);  primera idea de efecto  */
    transition: 0.4s;
    transform: rotateZ(35deg);  /* efecto de rotacion sobre el eje z*/
    color: hsl(50, 45%, 49%);
}

.presentation{      /* estilos de la seccion de presentacion de la pagina*/
    margin-left: 10%;
    margin-top: 125px;
    margin-bottom: 140px;
}

.bienvenida{
    position: relative;    /* Necesario para la posición absoluta del .retrato */
    display:inline-block
}
.bienvenida .retrato {
    position: absolute; /* Permite el posicionamiento exacto */
    bottom: -20%; /* Ajusta la imagen en la parte inferior del contenedor .bienvenida */
    right: -10%; /* Ajusta la imagen a la derecha del contenedor .bienvenida */
    height: auto;   /* Mantiene la proporción original de la imagen */
    z-index: -1;
} 
h1{
    color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    font-weight: bolder;
    margin-bottom: 2%;
    z-index: 1;
}
.retrato{
    width: 15vw;
}
.presentation h2{     /**/
    color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    margin-left: 0%;
    margin-bottom: 3%;
}
p{        /* estilos de todos los parrafos de la pagina*/
    color:beige;
    font-family: "Space Grotesk", sans-serif;
}
h2{       /* estilos de los titulos de las secciones*/
    color:antiquewhite;
    font-family: "Space Grotesk", sans-serif;
    font-size: 3em;
    margin-bottom: 1%;
    margin-left: 2%;
}
.separacion{         /*diseño de linea decorativa que hace subrayado de titulos de seccion*/
    width: 10%;
    height: 6px;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    background: linear-gradient(270deg, rgb(19, 40, 199) 0%, rgb(210, 214, 93) 100%);
}

.cards-container{   /* contenedor flex para las tarjetas de la seccion proyectos*/
    display: flex;     /* aprender a ubicarlos con grid */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 

    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    background-color: #302b63;
    border-radius: 8px;     
    box-shadow: 0 4px 8px rgba(3, 6, 46, 0.1), 4px 4px 8px rgba(2, 3, 24, 0.1);/*sombras para dar un efecto de profundidad a la tarjeta */
    padding: 16px;
    margin: 5% 0%;
    flex: 1 1 calc(35% - 10%); /*comportamiento flexible del elemento para que ocupe el 35% del contenedor padre menos el 10% del espacio total */
    min-width: 300px;
    max-width: calc(40% - 10%); /*ancho máximo de la tarjeta al 40% del contenedor padre menos el 10% del espacio total */
    position: relative;
    overflow: hidden;  /*cualquier contenido que sobresalga de la tarjeta quede oculto */
}

.card h2{
    margin-bottom: 8px;
    font-size: 1.5em;
}

.button{            /*boton de las tarjetas, se deja el diseño en css aunque los botones se encuentran deshabilitados*/
    display: flex;
    flex-wrap: wrap; /* flex-wrap wrap para hacer el boton multilinea y poder centrar el texto*/
    background: linear-gradient(270deg, rgb(19, 40, 199) 0%, rgb(210, 214, 93) 100%);
    width: 120px;
    height: 50px;
    border: #140b5e solid 2px;
    border-radius: 15px;
    color:beige;
    font-family: "Space Grotesk", sans-serif;
    justify-content: center;     /* lineas 144 y 145 para centrar el texto del boton */
    align-content: center;
    text-decoration: none;        /* se quita el subrayado por defecto del texto*/
}

.button:hover{
    border:hsl(50, 45%, 49%) solid 3px; /* efecto para el posicionamiento del mouse en los botones de las tarjetas*/
    cursor: pointer;
}

.image-container{    /* dise;o del contenedor de imagenes de las tarjetas*/
    position: relative;
    overflow: hidden;
    height: 150px;
    margin-bottom: 16px;
}

.image-container img {  /* posicionamiento de las imagenes dentro de su contenedor*/
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

.tecnologias-hobbies{  /* diseño de la tabla para la seccion tecnologias*/
    display: flex;
    margin: 5%;
    border-color: rgb(19, 40, 199);
    border-width: 5px;
    border-style: double;
    border-radius: 5px;
    color:beige;
    font-family: "Space Grotesk", sans-serif;
    overflow-x: auto; /* overflow para que no desborden los iconos al reducir el tamaño del navegador, pone un scroll horizontal*/
}
.titulo-linea{
font-size: 1.2rem;
width: 200px;
}
td{
    padding: 2%;
    width: 150px; /*tamaño fijo del ancho de las celdas por motivos esteticos*/
}

.sobre-mi p{
    margin: 5% 10%;
    font-size: 1.5rem;
}

.contenedor-contacto{ /* diseño flex para la seccion contacto*/
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    gap: 1rem;
    width: 100%;

}

.contenedor-formulario-contacto{
    width: 45%;
    gap: 1rem;
}

#formulario-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    background-color: #302b63;
    width: 80%;
    margin-left: 10%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(3, 6, 46, 0.1), 4px 4px 8px rgba(2, 3, 24, 0.1);
}
#formulario-contacto > label{
    color:beige;
    font-family: "Space Grotesk", sans-serif;
    margin-bottom: 3%; /* margen inferior para separarlos de los campos de input text*/
    font-size: 1.2rem;

}
#formulario-contacto > input{    /* diseño de los input text*/
    margin-bottom: 5%;
    padding: 2% 0%;
    background-color: rgb(232, 225, 152);
    font-size: 1.2rem;
    max-width: 95%; /*se reduce el max with para que no se solapen con el parrafo de la derecha al colapsar el navegador*/
}
#formulario-contacto > input:focus-visible{      /* cambio del color de background cuando los elementos estan seleccionados */
    background-color: white;
}
#formulario-contacto > input:user-invalid{      /* borde rojo para los campos input mientras su contenido sea invalido*/
    border: red solid 2px;
}
#formulario-contacto > input:user-valid{       /* borde verde para los campos inputs con contenido valido*/
    border: green solid 2px;
}

button.enviar{      /* estilos para el boton submit del formulario */
    background: linear-gradient(270deg, rgb(19, 40, 199) 0%, rgb(210, 214, 93) 100%);
    width: 120px;
    height: 50px;
    border-radius: 15px;
    color:beige;
    font-family: "Space Grotesk", sans-serif;
}
button.enviar:hover{
    border:hsl(50, 45%, 49%) solid 3px; /* efecto visual para el boton de enviar del formulario al posicionar puntero encima*/
    font-size: 1.3rem;
    cursor: pointer;
}
button.enviar:active{     /* efecto para el boton al hacer click sobre el*/
    font-size: 1.1rem;
    color: rgb(43, 8, 105);
}
.parrafo-contacto{    /* estilos del parrafo de la seccion contacto */
    align-content: center;
    width: 45%;
    font-size: 1.5rem;
}
.parrafo-contacto >p{
    padding: 10%;
}

/* estilos del footer */
footer{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 2.5% 5% 2%;
    text-align: center;
    font-size: 0.8rem;
}

.right-icons{   /* estilos del contenedor de iconos de github y linkedin*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
    gap: 20%;
    align-items: center;
    

} 

@media (max-width: 1080px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #menu-check{
        opacity: 0;
    }

        
    
    #menu-check:not(:checked) ~ nav {
        display: none;
    }
    #menu-check:checked ~ nav {
        display: block;
    }
    #menu {
        display: block;
        position: absolute;
        font-size: 1.25rem;
        border: none;
        margin: 0.5rem;
        padding: 0.5rem;
        top: 0.5rem;
        right: 10%;
        z-index: 10;
    }

   #menu:hover{   /*efectos del menu de navegacion */
        background-color: transparent;
        
    }
    #menu-cerrar {
        display: none;
    }
    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }
    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }
    .center-menu {
        position: absolute;
        opacity: 0.95;
        width: 45%;
        background-color: #302b63;
        z-index: 1;
    }
    .center-menu ul, .center-menu ul li {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }

    .left-icons{
        margin-bottom: 10px;
    }

    .presentation {
        margin-left: 5%;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex: 1 1 90%; /* Aumenta el tamaño de las tarjetas en pantallas más pequeñas */
        margin: 10px 0;
    }

    .tecnologias-hobbies {
        flex-direction: column;
    }
}

/* Tablet vertical */
@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    .presentation h2,
    .presentation p {
        font-size: 1.5em;
    }

    .button {
        width: 100px; /* Ajusta el tamaño del botón */
    }

    .image-container {
        height: 120px; /* Ajusta la altura de las imágenes en las tarjetas */
    }

    #formulario-contacto {
        padding: 20px;
    }

    .parrafo-contacto {
        max-width: 90%; /* Aumenta el ancho máximo en móviles */
    }
}

/* Mobil 1 */
@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    .slogan {
        font-size: 1.2em; /* Ajusta el tamaño de la fuente del eslogan */
    }


    .card {
        flex: 1 1 90%; /* Las tarjetas ocupan el 100% del ancho */
        margin: 10px 0;
    }

    .sobre-mi p{
        font-size: 1.2rem;
    }

    .contenedor-contacto{
        display: flex;
        flex-direction: column-reverse;
    }
    .contenedor-formulario-contacto, .parrafo-contacto{
        width: 90%;
    }
    #formulario-contacto > input {
        font-size: 1rem; /* Disminuye el tamaño de la fuente de los inputs */
    }

    .button.enviar {
        width: auto; /* Ajusta el tamaño del botón enviar */
    }

    .parrafo-contacto {
        font-size: 1.2rem; /* Disminuye el tamaño del texto en contacto */
    }

    footer p{
        font-size: 0.5rem;
    }
}

/* Mobil 2 */
@media (max-width: 375px) {
    h1 {
        font-size: 2em;
    }

    .presentation h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 1.2rem; /* Ajusta el tamaño de fuente de los párrafos */
    }

    .cards-container {
        margin: 0 5%; /* Reduce el margen para que se adapte mejor */
    }

    .tecnologias-hobbies {
        flex-direction: column; /* Coloca los iconos en columnas */
    }
}